.fuente{
    font-family: 'Permanent Marker', cursive;
}
.fuente2{
    font-family: 'Open Sans', sans-serif;
}
.fondo{
    background-color: orange;
}
.fondo2{
    background-color: gray;
}
.fuente3{
    font-family: "Permanent Marker", cursive;
    font-size: 32px;
}
